In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
result_path = 'GenrePrediction/Data/result_df.csv'
movies_path = 'GenrePrediction/Data/movies_df.csv'
results = pd.read_csv(result_path)
movies = pd.read_csv(movies_path)

In [17]:
results.columns

Index(['Unnamed: 0', 'baseball glove', 'skis', 'truck', 'car', 'boat',
       'tvmonitor', 'sandwich', 'toothbrush', 'traffic light', 'apple',
       'suitcase', 'mouse', 'chair', 'cup', 'cow', 'bear', 'handbag',
       'parking meter', 'backpack', 'frisbee', 'pottedplant', 'bowl',
       'aeroplane', 'spoon', 'motorbike', 'fire hydrant', 'sofa', 'elephant',
       'snowboard', 'bed', 'scissors', 'teddy bear', 'hot dog', 'microwave',
       'bench', 'skateboard', 'kite', 'refrigerator', 'donut', 'carrot',
       'clock', 'hair drier', 'broccoli', 'vase', 'wine glass', 'laptop',
       'giraffe', 'bottle', 'tennis racket', 'banana', 'cat', 'bird', 'cake',
       'fork', 'train', 'knife', 'sheep', 'zebra', 'dog', 'oven', 'stop sign',
       'cell phone', 'baseball bat', 'umbrella', 'bicycle', 'orange', 'person',
       'tie', 'toilet', 'pizza', 'sink', 'remote', 'bus', 'horse', 'surfboard',
       'book', 'keyboard', 'diningtable', 'sports ball'],
      dtype='object')

In [18]:
results.columns = ['id', 'baseball glove', 'skis', 'truck', 'car', 'boat',
       'tvmonitor', 'sandwich', 'toothbrush', 'traffic light', 'apple',
       'suitcase', 'mouse', 'chair', 'cup', 'cow', 'bear', 'handbag',
       'parking meter', 'backpack', 'frisbee', 'pottedplant', 'bowl',
       'aeroplane', 'spoon', 'motorbike', 'fire hydrant', 'sofa', 'elephant',
       'snowboard', 'bed', 'scissors', 'teddy bear', 'hot dog', 'microwave',
       'bench', 'skateboard', 'kite', 'refrigerator', 'donut', 'carrot',
       'clock', 'hair drier', 'broccoli', 'vase', 'wine glass', 'laptop',
       'giraffe', 'bottle', 'tennis racket', 'banana', 'cat', 'bird', 'cake',
       'fork', 'train', 'knife', 'sheep', 'zebra', 'dog', 'oven', 'stop sign',
       'cell phone', 'baseball bat', 'umbrella', 'bicycle', 'orange', 'person',
       'tie', 'toilet', 'pizza', 'sink', 'remote', 'bus', 'horse', 'surfboard',
       'book', 'keyboard', 'diningtable', 'sports ball']

In [19]:
results.head()

,id,baseball glove,skis,truck,car,boat,tvmonitor,sandwich,toothbrush,traffic light,...,pizza,sink,remote,bus,horse,surfboard,book,keyboard,diningtable,sports ball
0,10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
results.loc[results['id'] == 299537]

,id,baseball glove,skis,truck,car,boat,tvmonitor,sandwich,toothbrush,traffic light,...,pizza,sink,remote,bus,horse,surfboard,book,keyboard,diningtable,sports ball
4821,299537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
movies.head()

,Unnamed: 0,id,title,release_date,poster_path,Mystery,Animation,Music,History,Comedy,...,Horror,War,Documentary,TV Movie,Adventure,Drama,Western,Thriller,Action,Crime
0,0,299537,Captain Marvel,2019-03-06,/AtsgWhDnHTq68L0lLsUrCnM7TjG.jpg,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,1,166428,How to Train Your Dragon: The Hidden World,2019-01-03,/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,399579,Alita: Battle Angel,2019-01-31,/xRWht48C2V8XNfzvPehyClOvDni.jpg,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
3,3,450001,Master Z: Ip Man Legacy,2018-12-20,/2WfjB6FUDTIBVI2y02UGbnHR82s.jpg,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,338952,Fantastic Beasts: The Crimes of Grindelwald,2018-11-14,/fMMrl8fD9gRCFJvsx0SuFwkEOop.jpg,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [22]:
final = pd.merge(movies, results, on = 'id')

In [23]:
final.head()

,Unnamed: 0,id,title,release_date,poster_path,Mystery,Animation,Music,History,Comedy,...,pizza,sink,remote,bus,horse,surfboard,book,keyboard,diningtable,sports ball
0,0,299537,Captain Marvel,2019-03-06,/AtsgWhDnHTq68L0lLsUrCnM7TjG.jpg,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,166428,How to Train Your Dragon: The Hidden World,2019-01-03,/xvx4Yhf0DVH8G4LzNISpMfFBDy2.jpg,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,399579,Alita: Battle Angel,2019-01-31,/xRWht48C2V8XNfzvPehyClOvDni.jpg,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,450001,Master Z: Ip Man Legacy,2018-12-20,/2WfjB6FUDTIBVI2y02UGbnHR82s.jpg,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,338952,Fantastic Beasts: The Crimes of Grindelwald,2018-11-14,/fMMrl8fD9gRCFJvsx0SuFwkEOop.jpg,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
final.loc[final['title'] == 'Captain Marvel']

,Unnamed: 0,id,title,release_date,poster_path,Mystery,Animation,Music,History,Comedy,...,pizza,sink,remote,bus,horse,surfboard,book,keyboard,diningtable,sports ball
0,0,299537,Captain Marvel,2019-03-06,/AtsgWhDnHTq68L0lLsUrCnM7TjG.jpg,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
final.columns

Index(['Unnamed: 0', 'id', 'title', 'release_date', 'poster_path', 'Mystery',
       'Animation', 'Music', 'History', 'Comedy',
       ...
       'pizza', 'sink', 'remote', 'bus', 'horse', 'surfboard', 'book',
       'keyboard', 'diningtable', 'sports ball'],
      dtype='object', length=103)

In [26]:
final = final.drop(['Unnamed: 0'], axis = 1)

In [27]:
final = final.drop(['poster_path'], axis = 1)

In [28]:
final = final.drop(['release_date'], axis = 1)

In [29]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9928 entries, 0 to 9927
Data columns (total 100 columns):
id                 9928 non-null int64
title              9928 non-null object
Mystery            9928 non-null int64
Animation          9928 non-null int64
Music              9928 non-null int64
History            9928 non-null int64
Comedy             9928 non-null int64
Science Fiction    9928 non-null int64
Family             9928 non-null int64
Fantasy            9928 non-null int64
Romance            9928 non-null int64
Horror             9928 non-null int64
War                9928 non-null int64
Documentary        9928 non-null int64
TV Movie           9928 non-null int64
Adventure          9928 non-null int64
Drama              9928 non-null int64
Western            9928 non-null int64
Thriller           9928 non-null int64
Action             9928 non-null int64
Crime              9928 non-null int64
baseball glove     9928 non-null float64
skis               9928 non-null float64
truck              9928 non-null float64
car                9928 non-null float64
boat               9928 non-null float64
tvmonitor          9928 non-null float64
sandwich           9928 non-null float64
toothbrush         9928 non-null float64
traffic light      9928 non-null float64
apple              9928 non-null float64
suitcase           9928 non-null float64
mouse              9928 non-null float64
chair              9928 non-null float64
cup                9928 non-null float64
cow                9928 non-null float64
bear               9928 non-null float64
handbag            9928 non-null float64
parking meter      9928 non-null float64
backpack           9928 non-null float64
frisbee            9928 non-null float64
pottedplant        9928 non-null float64
bowl               9928 non-null float64
aeroplane          9928 non-null float64
spoon              9928 non-null float64
motorbike          9928 non-null float64
fire hydrant       9928 non-null float64
sofa               9928 non-null float64
elephant           9928 non-null float64
snowboard          9928 non-null float64
bed                9928 non-null float64
scissors           9928 non-null float64
teddy bear         9928 non-null float64
hot dog            9928 non-null float64
microwave          9928 non-null float64
bench              9928 non-null float64
skateboard         9928 non-null float64
kite               9928 non-null float64
refrigerator       9928 non-null float64
donut              9928 non-null float64
carrot             9928 non-null float64
clock              9928 non-null float64
hair drier         9928 non-null float64
broccoli           9928 non-null float64
vase               9928 non-null float64
wine glass         9928 non-null float64
laptop             9928 non-null float64
giraffe            9928 non-null float64
bottle             9928 non-null float64
tennis racket      9928 non-null float64
banana             9928 non-null float64
cat                9928 non-null float64
bird               9928 non-null float64
cake               9928 non-null float64
fork               9928 non-null float64
train              9928 non-null float64
knife              9928 non-null float64
sheep              9928 non-null float64
zebra              9928 non-null float64
dog                9928 non-null float64
oven               9928 non-null float64
stop sign          9928 non-null float64
cell phone         9928 non-null float64
baseball bat       9928 non-null float64
umbrella           9928 non-null float64
bicycle            9928 non-null float64
orange             9928 non-null float64
person             9928 non-null float64
tie                9928 non-null float64
toilet             9928 non-null float64
pizza              9928 non-null float64
sink               9928 non-null float64
remote             9928 non-null float64
bus                9928 non-null float64
horse              9928 non-null float64
surfboard          9928 non-null float64
book               9928 non-null float64
keyboard           9928 non-null float64
diningtable        9928 non-null float64
sports ball        9928 non-null float64
dtypes: float64(79), int64(20), object(1)
memory usage: 7.7+ MB

In [30]:
final

,id,title,Mystery,Animation,Music,History,Comedy,Science Fiction,Family,Fantasy,...,pizza,sink,remote,bus,horse,surfboard,book,keyboard,diningtable,sports ball
0,299537,Captain Marvel,0,0,0,0,0,1,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
1,166428,How to Train Your Dragon: The Hidden World,0,1,0,0,0,0,1,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
2,399579,Alita: Battle Angel,0,0,0,0,0,1,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
3,450001,Master Z: Ip Man Legacy,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
4,338952,Fantastic Beasts: The Crimes of Grindelwald,0,0,0,0,0,0,1,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
5,324857,Spider-Man: Into the Spider-Verse,0,1,0,0,1,1,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
6,400650,Mary Poppins Returns,0,0,0,0,1,0,1,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
7,464504,A Madea Family Funeral,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
8,297802,Aquaman,0,0,0,0,0,1,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9,512196,Happy Death Day 2U,1,0,0,0,1,1,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
10,450465,Glass,1,0,0,0,0,0,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
11,490132,Green Book,0,0,1,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
12,428078,Mortal Engines,0,0,0,0,0,1,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
13,299536,Avengers: Infinity War,0,0,0,0,0,0,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
14,920,Cars,0,1,0,0,1,0,1,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
15,487297,What Men Want,0,0,0,0,1,0,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,1.35
16,280217,The Lego Movie 2: The Second Part,0,1,0,0,1,1,1,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
17,480530,Creed II,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
18,424694,Bohemian Rhapsody,0,0,1,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
19,449563,Isn't It Romantic,0,0,0,0,1,0,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
20,390634,Fate/stay night: Heaven’s Feel II. lost butterfly,0,1,0,0,0,0,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
21,245891,John Wick,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
22,458723,Us,0,0,0,0,0,0,0,0,...,0.0,0.0,0.37,0.0,0.00,0.00,0.0,0.0,0.0,0.00
23,445629,Fighting with My Family,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
24,332562,A Star Is Born,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
25,404368,Ralph Breaks the Internet,0,1,0,0,1,0,1,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
26,10528,Sherlock Holmes,1,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
27,429197,Vice,0,0,0,1,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
28,438650,Cold Pursuit,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
29,490033,Holiday,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9898,51731,Royal Tramp 2,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9899,13200,Red,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9900,80215,Indie Game: The Movie,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9901,38961,Tamara Drewe,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9902,60599,Arbitrage,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9903,15251,Eddie Murphy: Delirious,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9904,11578,The Return of Don Camillo,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9905,2075,Prizzi's Honor,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9906,312669,Maggie's Plan,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9907,28761,White Hunter Black Heart,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9908,229296,Justin Bieber: Believe,0,0,1,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9909,172847,Scenic Route,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9910,37181,About Elly,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9911,13830,Shottas,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9912,36269,Winning London,0,0,0,0,1,0,1,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9913,391700,We Are Family,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9914,112454,Clown,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9915,458027,The Scythian,0,0,0,1,0,0,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9916,27854,For Whom the Bell Tolls,0,0,0,1,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9917,19099,Frenchmen,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.43,0.0,0.0,0.0,0.00
9918,11316,Macbeth,0,0,0,1,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9919,10638,In the Valley of Death,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.96,0.00,0.0,0.0,0.0,0.00
9920,366141,Cro Minion,0,1,0,0,0,0,1,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9921,576564,Well Groomed,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9922,420809,Maleficent: Mistress of Evil,0,0,0,0,0,0,0,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9923,1850,Man on the Moon,0,0,0,1,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9924,6499,Turbo: A Power Rangers Movie,0,0,0,0,0,1,1,1,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9925,122126,The Concubine,0,0,0,0,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9926,3291,"Good Night, and Good Luck.",0,0,0,1,0,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.00
9927,458956,Let the Girls Play,0,0,0,0,1,0,0,0,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.81

In [31]:
y = final.drop(final[['id','title']], axis = 1)
y = y[['Mystery', 'Animation', 'Music', 'History', 'Comedy', 'Science Fiction',
       'Family', 'Fantasy', 'Romance', 'Horror', 'War', 'Documentary',
       'TV Movie', 'Adventure', 'Drama', 'Western', 'Thriller', 'Action',
       'Crime']]

In [32]:
X = final.drop(final[['Mystery', 'Animation', 'Music', 'History', 'Comedy', 'Science Fiction',
       'Family', 'Fantasy', 'Romance', 'Horror', 'War', 'Documentary',
       'TV Movie', 'Adventure', 'Drama', 'Western', 'Thriller', 'Action',
       'Crime']], axis = 1)
X = X.drop(X[['title']], axis = 1)

In [33]:
y0 = y['Mystery']
y1 = y['Animation']
y2 = y['Music']
y3 = y['History']
y4 = y['Comedy']
y5 = y['Science Fiction']
y6 = y['Family']
y7 = y['Fantasy']
y8 = y['Romance']
y9 = y['Horror']
y10 = y['War']
y11 = y['Documentary']
y12 = ['TV Movie']
y13 = ['Adventure']
y14 = ['Drama']
y15 = ['Western']
y16 = ['Thriller'] 
y17 = ['Action']
y18 = ['Crime']

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
#from sklearn.preprocessing import MultiLabelBinarizer
#Y = MultiLabelBinarizer().fit_transform(y)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [37]:
from sklearn.svm import SVC

In [38]:
X.shape

(9928, 80)

In [39]:
y.shape

(9928, 19)

In [40]:
from sklearn.multiclass import OneVsRestClassifier

In [41]:
model = OneVsRestClassifier(SVC(gamma='auto'))

In [42]:
model.fit(X_train,y_train)

OneVsRestClassifier(estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
          n_jobs=None)

In [43]:
predicted = model.predict(X_test)

In [44]:
from sklearn.metrics import confusion_matrix, classification_report

In [45]:
print(f'{classification_report(y_test,predicted)}')

              precision    recall  f1-score   support

           0       0.04      0.00      0.01       279
           1       0.57      0.04      0.08       280
           2       0.00      0.00      0.00       104
           3       0.00      0.00      0.00       122
           4       0.45      0.18      0.26      1132
           5       0.37      0.03      0.05       358
           6       0.46      0.03      0.06       376
           7       0.25      0.01      0.03       350
           8       0.20      0.03      0.05       523
           9       0.31      0.04      0.07       398
          10       0.50      0.01      0.02       110
          11       0.00      0.00      0.00        59
          12       0.00      0.00      0.00        35
          13       0.42      0.04      0.07       539
          14       0.55      0.33      0.41      1525
          15       0.00      0.00      0.00        52
          16       0.35      0.10      0.15       851
          17       0.33      0.06      0.11       740
          18       0.16      0.01      0.03       469

   micro avg       0.45      0.11      0.18      8302
   macro avg       0.26      0.05      0.07      8302
weighted avg       0.37      0.11      0.16      8302
 samples avg       0.22      0.13      0.15      8302

/home/aaron/.local/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/aaron/.local/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels.
  'precision', 'predicted', average, warn_for)
/home/aaron/.local/lib/python3.6/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in samples with no true labels.
  'recall', 'true', average, warn_for)

### Long story short, that doesn't work very well

In [46]:
import pandas as pd

In [47]:
movies_path = 'GenrePrediction/Data/movies_df.csv'

In [48]:
movies = pd.read_csv(movies_path)

In [49]:
movies.columns

Index(['Unnamed: 0', 'id', 'title', 'release_date', 'poster_path', 'Mystery',
       'Animation', 'Music', 'History', 'Comedy', 'Science Fiction', 'Family',
       'Fantasy', 'Romance', 'Horror', 'War', 'Documentary', 'TV Movie',
       'Adventure', 'Drama', 'Western', 'Thriller', 'Action', 'Crime'],
      dtype='object')

In [50]:
movies_df = movies.drop(['Unnamed: 0'], axis=1)

In [51]:
from glove import Glove, metrics

In [52]:
import itertools

In [53]:
from gensim.models import Word2Vec

In [54]:
from gensim.models import KeyedVectors

In [55]:
filename = 'GoogleNews-vectors-negative300.bin'

In [56]:
model = KeyedVectors.load_word2vec_format(filename, binary=True)

In [57]:
model.distance('captain','Action')

1.0166444014757872

In [58]:
model.distance('captain','adventure')

0.8721495568752289

In [59]:
model.distance('concubine','Romance')

0.8296327590942383

In [65]:
def most_likely(title, genres = ['Mystery',
       'Animation', 'Music', 'History', 'Comedy', 'Science', 'Family',
       'Fantasy', 'Romance', 'Horror', 'War', 'Documentary', 'TV',
       'Adventure', 'Drama', 'Western', 'Thriller', 'Action', 'Crime']):
    broken_title = title.split(' ')

    
    dists = []
    for genre in genres:
        dists.append(model.relative_cosine_similarity(title,genre.lower()))
    
    #print(dists)
    print(genres[dists.index(max(dists))])
    del genres[dists.index(max(dists))]
    print(genres[dists.index(max(dists))])
    del genres[dists.index(max(dists))]
    print(genres[dists.index(max(dists))])

In [78]:
genres = ['Mystery',
       'Animation', 'Music', 'History', 'Comedy', 'Science', 'Family',
       'Fantasy', 'Romance', 'Horror', 'War', 'Documentary', 'TV',
       'Adventure', 'Drama', 'Western', 'Thriller', 'Action', 'Crime']

In [81]:
most_likely('horror',genres)

Thriller
Action
Crime