In [3]:
import json
import requests
import time
import pandas as pd
import numpy as np
import urllib.request
from IPython.core.display import display, HTML
%matplotlib inline

In [4]:
with open(r'../Data/movie_data.json', 'r') as json_file:  
    data = json.load(json_file)

In [5]:
type(data)

list

In [21]:
movies = pd.DataFrame(data)

In [22]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
adult                    10000 non-null bool
backdrop_path            9817 non-null object
belongs_to_collection    2279 non-null object
budget                   10000 non-null int64
genres                   10000 non-null object
homepage                 3216 non-null object
id                       10000 non-null int64
imdb_id                  9942 non-null object
original_language        10000 non-null object
original_title           10000 non-null object
overview                 10000 non-null object
popularity               10000 non-null float64
poster_path              9968 non-null object
production_companies     10000 non-null object
production_countries     10000 non-null object
release_date             10000 non-null object
revenue                  10000 non-null int64
runtime                  9805 non-null float64
spoken_languages         10000 non-null object
status                   10000 non-null object
tagline                  10000 non-null object
title                    10000 non-null object
video                    10000 non-null bool
vote_average             10000 non-null float64
vote_count               10000 non-null int64
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 1.8+ MB

In [23]:
movies[['id', 'title', 'genres', 'release_date', 'overview']]

,id,title,genres,release_date,overview
0,299537,Captain Marvel,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2019-03-06,The story follows Carol Danvers as she becomes...
1,166428,How to Train Your Dragon: The Hidden World,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2019-01-03,As Hiccup fulfills his dream of creating a pea...
2,399579,Alita: Battle Angel,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",2019-01-31,When Alita awakens with no memory of who she i...
3,450001,Master Z: Ip Man Legacy,"[{'id': 28, 'name': 'Action'}]",2018-12-20,"After being defeated by Ip Man, Cheung Tin Chi..."
4,338952,Fantastic Beasts: The Crimes of Grindelwald,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2018-11-14,Gellert Grindelwald has escaped imprisonment a...
5,324857,Spider-Man: Into the Spider-Verse,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2018-12-07,Miles Morales is juggling his life between bei...
6,400650,Mary Poppins Returns,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...",2018-12-13,"In Depression-era London, a now-grown Jane and..."
7,464504,A Madea Family Funeral,"[{'id': 35, 'name': 'Comedy'}]",2019-03-01,A joyous family reunion becomes a hilarious ni...
8,297802,Aquaman,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2018-12-07,Once home to the most advanced civilization on...
9,512196,Happy Death Day 2U,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",2019-02-13,Collegian Tree Gelbman wakes up in horror to l...
10,450465,Glass,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",2019-01-16,"In a series of escalating encounters, security..."
11,490132,Green Book,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive..."
12,428078,Mortal Engines,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",2018-11-27,"Many thousands of years in the future, Earth’s..."
13,299536,Avengers: Infinity War,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",2018-04-25,As the Avengers and their allies have continue...
14,920,Cars,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",2006-06-08,"Lightning McQueen, a hotshot rookie race car d..."
15,487297,What Men Want,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",2019-02-08,"Magically able to hear what men are thinking, ..."
16,280217,The Lego Movie 2: The Second Part,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2019-01-26,It's been five years since everything was awes...
17,480530,Creed II,"[{'id': 18, 'name': 'Drama'}]",2018-11-21,Between personal obligations and training for ...
18,424694,Bohemian Rhapsody,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",2018-10-24,"Singer Freddie Mercury, guitarist Brian May, d..."
19,449563,Isn't It Romantic,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",2019-02-13,"For a long time, Natalie, an Australian archit..."
20,390634,Fate/stay night: Heaven’s Feel II. lost butterfly,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",2019-01-12,Theatrical-release adaptation of the visual no...
21,245891,John Wick,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",2014-10-22,Ex-hitman John Wick comes out of retirement to...
22,458723,Us,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",2019-03-14,Husband and wife Gabe and Adelaide Wilson take...
23,445629,Fighting with My Family,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2019-02-14,"Born into a tight-knit wrestling family, Paige..."
24,332562,A Star Is Born,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",2018-10-03,Seasoned musician Jackson Maine discovers — an...
25,404368,Ralph Breaks the Internet,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2018-11-20,Video game bad guy Ralph and fellow misfit Van...
26,10528,Sherlock Holmes,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2009-12-23,"Eccentric consulting detective, Sherlock Holme..."
27,429197,Vice,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",2018-12-25,"George W. Bush picks Dick Cheney, the CEO of H..."
28,438650,Cold Pursuit,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",2019-02-07,Nels Coxman's quiet life comes crashing down w...
29,490033,Holiday,"[{'id': 18, 'name': 'Drama'}]",2018-10-11,A love triangle featuring the trophy girlfrien...
...,...,...,...,...,...
9970,396321,Puppet Master: The Littlest Reich,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",2018-08-17,A recently divorced young man discovers a mint...
9971,585861,Y Bera : Aguas de Luz,[],2019-03-18,
9972,15659,Foul Play,"[{'id': 35, 'name': 'Comedy'}, {'id': 9648, 'n...",1978-07-14,A shy San Francisco librarian and a bumbling c...
9973,34193,Magic,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",1978-11-08,A ventriloquist is at the mercy of his vicious...
9974,15774,"Swades: We, the People","[{'id': 18, 'name': 'Drama'}]",2004-12-17,"Set in modern day India, Swades is a film that..."
9975,22582,Tom and Jerry: The Movie,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",1992-10-01,The popular cartoon cat and mouse are thrown i...
9976,345918,Come and Find Me,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",2016-11-11,"When his girlfriend goes missing, David must t..."
9977,175555,A Madea Christmas,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2013-12-13,Madea dispenses her unique form of holiday spi...
9978,37775,"Bianco, rosso e Verdone","[{'id': 35, 'name': 'Comedy'}]",1981-02-20,Three Italian have to move from their current ...
9979,501851,Ouija House,"[{'id': 27, 'name': 'Horror'}]",2018-05-05,"A graduate student, who is trying to finish th..."
9980,21349,Anywhere But Here,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",1999-11-12,"In this adaptation of the Mona Simpson novel, ..."
9981,457262,Rip Tide,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",2017-06-10,There comes a point in everyone’s life when yo...
9982,517373,Killing for the Prosecution,"[{'id': 9648, 'name': 'Mystery'}]",2018-08-24,Young Public Prosecutor Keiichiro Okino (Kazun...
9983,3003,The Lost World,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2001-12-25,This Lost World is a splendid BBC TV dramatisa...
9984,26189,Get a Clue,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",2002-01-01,A rich kid and her friends investigate the dis...
9985,10373,Quadrophenia,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",1979-09-14,Based on the 1973 rock opera album of the same...
9986,49787,The Reef,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",2010-05-15,A great white shark hunts the crew of a capsiz...
9987,31933,The Land Before Time XII: The Great Day of the...,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2006-02-27,"As the Great Day of the Flyers nears, the Grea..."
9988,262982,The Hollow Point,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2016-12-16,A retired lawman works with a new sheriff when...
9989,48035,Ordet,"[{'id': 18, 'name': 'Drama'}]",1955-01-09,The three sons of devout Danish farmer Morten ...
9990,9911,Outlaw,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2007-03-09,A group of people who feel betrayed by their g...
9991,12186,Defending Your Life,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",1991-03-22,"In an afterlife resembling the present-day US,..."
9992,13967,Miss Potter,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",2006-12-03,"The story of Beatrix Potter, the author of the..."
9993,11842,Red Sun,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",1971-09-15,An ancient Japanese sword is robbed by gangste...
9994,369560,Drunk Parents,"[{'id': 35, 'name': 'Comedy'}]",2019-02-08,Two drunk parents attempt to hide their ever i...
9995,2517,Nobody Knows,"[{'id': 18, 'name': 'Drama'}]",2004-08-07,"In a small Tokyo apartment, twelve-year-old Ak..."
9996,8988,Stop-Loss,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",2008-03-28,A veteran soldier returns from his completed t...
9997,28324,Emanuelle and the Last Cannibals,"[{'id': 12, 'name': 'Adventure'}, {'id': 27, '...",1977-10-21,While doing undercover work in a mental hospit...
9998,10409,Strictly Ballroom,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1992-08-20,Brave new steps put Scott's career in jeopardy...
9999,393764,The African Doctor,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",2016-06-08,Seyolo Zantoko is a doctor from Congo who want...

In [24]:
movies.drop(movies.columns.difference(['id', 'title', 'genres', 'release_date', 'overview']), axis=1, inplace=True)

In [26]:
movies = movies[['id', 'title', 'genres', 'release_date', 'overview']]

In [27]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
id              10000 non-null int64
title           10000 non-null object
genres          10000 non-null object
release_date    10000 non-null object
overview        10000 non-null object
dtypes: int64(1), object(4)
memory usage: 390.7+ KB

In [28]:
movies['release_date'] = pd.to_datetime(movies['release_date'])

In [29]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
id              10000 non-null int64
title           10000 non-null object
genres          10000 non-null object
release_date    9995 non-null datetime64[ns]
overview        10000 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 390.7+ KB

In [30]:
def get_poster_path(poster_path):
    return r'https://image.tmdb.org/t/p/w500' + str(poster_path)

In [61]:
test = get_poster_path(movies.loc[movies['id'] == 299537]['poster_path'])

In [14]:
movies.dropna(inplace=True)
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9964 entries, 0 to 9999
Data columns (total 5 columns):
id              9964 non-null int64
title           9964 non-null object
genres          9964 non-null object
release_date    9964 non-null datetime64[ns]
poster_path     9964 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 467.1+ KB

In [31]:
lst = []
for movie in movies['genres']:
    for genre in movie:
        lst.append(genre['name'])

In [33]:
genres

['Family',
 'Animation',
 'History',
 'Documentary',
 'Adventure',
 'Western',
 'Crime',
 'Drama',
 'Horror',
 'Science Fiction',
 'Romance',
 'War',
 'Mystery',
 'Fantasy',
 'Action',
 'TV Movie',
 'Thriller',
 'Comedy',
 'Music']

In [34]:
movies

,id,title,genres,release_date,overview
0,299537,Captain Marvel,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2019-03-06,The story follows Carol Danvers as she becomes...
1,166428,How to Train Your Dragon: The Hidden World,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2019-01-03,As Hiccup fulfills his dream of creating a pea...
2,399579,Alita: Battle Angel,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",2019-01-31,When Alita awakens with no memory of who she i...
3,450001,Master Z: Ip Man Legacy,"[{'id': 28, 'name': 'Action'}]",2018-12-20,"After being defeated by Ip Man, Cheung Tin Chi..."
4,338952,Fantastic Beasts: The Crimes of Grindelwald,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2018-11-14,Gellert Grindelwald has escaped imprisonment a...
5,324857,Spider-Man: Into the Spider-Verse,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2018-12-07,Miles Morales is juggling his life between bei...
6,400650,Mary Poppins Returns,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...",2018-12-13,"In Depression-era London, a now-grown Jane and..."
7,464504,A Madea Family Funeral,"[{'id': 35, 'name': 'Comedy'}]",2019-03-01,A joyous family reunion becomes a hilarious ni...
8,297802,Aquaman,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2018-12-07,Once home to the most advanced civilization on...
9,512196,Happy Death Day 2U,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",2019-02-13,Collegian Tree Gelbman wakes up in horror to l...
10,450465,Glass,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",2019-01-16,"In a series of escalating encounters, security..."
11,490132,Green Book,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive..."
12,428078,Mortal Engines,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",2018-11-27,"Many thousands of years in the future, Earth’s..."
13,299536,Avengers: Infinity War,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",2018-04-25,As the Avengers and their allies have continue...
14,920,Cars,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",2006-06-08,"Lightning McQueen, a hotshot rookie race car d..."
15,487297,What Men Want,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",2019-02-08,"Magically able to hear what men are thinking, ..."
16,280217,The Lego Movie 2: The Second Part,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2019-01-26,It's been five years since everything was awes...
17,480530,Creed II,"[{'id': 18, 'name': 'Drama'}]",2018-11-21,Between personal obligations and training for ...
18,424694,Bohemian Rhapsody,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",2018-10-24,"Singer Freddie Mercury, guitarist Brian May, d..."
19,449563,Isn't It Romantic,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",2019-02-13,"For a long time, Natalie, an Australian archit..."
20,390634,Fate/stay night: Heaven’s Feel II. lost butterfly,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",2019-01-12,Theatrical-release adaptation of the visual no...
21,245891,John Wick,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",2014-10-22,Ex-hitman John Wick comes out of retirement to...
22,458723,Us,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",2019-03-14,Husband and wife Gabe and Adelaide Wilson take...
23,445629,Fighting with My Family,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2019-02-14,"Born into a tight-knit wrestling family, Paige..."
24,332562,A Star Is Born,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",2018-10-03,Seasoned musician Jackson Maine discovers — an...
25,404368,Ralph Breaks the Internet,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2018-11-20,Video game bad guy Ralph and fellow misfit Van...
26,10528,Sherlock Holmes,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2009-12-23,"Eccentric consulting detective, Sherlock Holme..."
27,429197,Vice,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",2018-12-25,"George W. Bush picks Dick Cheney, the CEO of H..."
28,438650,Cold Pursuit,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",2019-02-07,Nels Coxman's quiet life comes crashing down w...
29,490033,Holiday,"[{'id': 18, 'name': 'Drama'}]",2018-10-11,A love triangle featuring the trophy girlfrien...
...,...,...,...,...,...
9970,396321,Puppet Master: The Littlest Reich,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",2018-08-17,A recently divorced young man discovers a mint...
9971,585861,Y Bera : Aguas de Luz,[],2019-03-18,
9972,15659,Foul Play,"[{'id': 35, 'name': 'Comedy'}, {'id': 9648, 'n...",1978-07-14,A shy San Francisco librarian and a bumbling c...
9973,34193,Magic,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",1978-11-08,A ventriloquist is at the mercy of his vicious...
9974,15774,"Swades: We, the People","[{'id': 18, 'name': 'Drama'}]",2004-12-17,"Set in modern day India, Swades is a film that..."
9975,22582,Tom and Jerry: The Movie,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",1992-10-01,The popular cartoon cat and mouse are thrown i...
9976,345918,Come and Find Me,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",2016-11-11,"When his girlfriend goes missing, David must t..."
9977,175555,A Madea Christmas,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",2013-12-13,Madea dispenses her unique form of holiday spi...
9978,37775,"Bianco, rosso e Verdone","[{'id': 35, 'name': 'Comedy'}]",1981-02-20,Three Italian have to move from their current ...
9979,501851,Ouija House,"[{'id': 27, 'name': 'Horror'}]",2018-05-05,"A graduate student, who is trying to finish th..."
9980,21349,Anywhere But Here,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",1999-11-12,"In this adaptation of the Mona Simpson novel, ..."
9981,457262,Rip Tide,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",2017-06-10,There comes a point in everyone’s life when yo...
9982,517373,Killing for the Prosecution,"[{'id': 9648, 'name': 'Mystery'}]",2018-08-24,Young Public Prosecutor Keiichiro Okino (Kazun...
9983,3003,The Lost World,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2001-12-25,This Lost World is a splendid BBC TV dramatisa...
9984,26189,Get a Clue,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",2002-01-01,A rich kid and her friends investigate the dis...
9985,10373,Quadrophenia,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",1979-09-14,Based on the 1973 rock opera album of the same...
9986,49787,The Reef,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",2010-05-15,A great white shark hunts the crew of a capsiz...
9987,31933,The Land Before Time XII: The Great Day of the...,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2006-02-27,"As the Great Day of the Flyers nears, the Grea..."
9988,262982,The Hollow Point,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2016-12-16,A retired lawman works with a new sheriff when...
9989,48035,Ordet,"[{'id': 18, 'name': 'Drama'}]",1955-01-09,The three sons of devout Danish farmer Morten ...
9990,9911,Outlaw,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2007-03-09,A group of people who feel betrayed by their g...
9991,12186,Defending Your Life,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",1991-03-22,"In an afterlife resembling the present-day US,..."
9992,13967,Miss Potter,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",2006-12-03,"The story of Beatrix Potter, the author of the..."
9993,11842,Red Sun,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",1971-09-15,An ancient Japanese sword is robbed by gangste...
9994,369560,Drunk Parents,"[{'id': 35, 'name': 'Comedy'}]",2019-02-08,Two drunk parents attempt to hide their ever i...
9995,2517,Nobody Knows,"[{'id': 18, 'name': 'Drama'}]",2004-08-07,"In a small Tokyo apartment, twelve-year-old Ak..."
9996,8988,Stop-Loss,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",2008-03-28,A veteran soldier returns from his completed t...
9997,28324,Emanuelle and the Last Cannibals,"[{'id': 12, 'name': 'Adventure'}, {'id': 27, '...",1977-10-21,While doing undercover work in a mental hospit...
9998,10409,Strictly Ballroom,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1992-08-20,Brave new steps put Scott's career in jeopardy...
9999,393764,The African Doctor,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",2016-06-08,Seyolo Zantoko is a doctor from Congo who want...

In [35]:
zeros = np.zeros((9964, 19), dtype=int)

In [36]:
df = pd.DataFrame(data=zeros, columns=genres)

In [37]:
movies = pd.merge(movies, df, left_index=True, right_index=True)

In [38]:
def update_genre(col):
    for genre in col.genres:
        col.loc[genre['name']] = 1
        # print(col.loc[genre['name']])
    return col

In [39]:
movies = movies.apply(update_genre, axis=1)

In [40]:
movies.loc[200 , 'genres']

[{'id': 18, 'name': 'Drama'}]

In [41]:
movies.loc[200 , 'Drama']

1

In [15]:
def save_image(col):
    try:
        urllib.request.urlretrieve(get_poster_path(col['poster_path']), r'../Data/Images/' + str(col['id']) + '.jpg')
    except:
        print(col)

In [43]:
movies['TV Movie'].sum()

119

In [44]:
movies.drop('genres', axis=1, inplace=True)

In [45]:
movies

,id,title,release_date,overview,Family,Animation,History,Documentary,Adventure,Western,...,Science Fiction,Romance,War,Mystery,Fantasy,Action,TV Movie,Thriller,Comedy,Music
0,299537,Captain Marvel,2019-03-06,The story follows Carol Danvers as she becomes...,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
1,166428,How to Train Your Dragon: The Hidden World,2019-01-03,As Hiccup fulfills his dream of creating a pea...,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,399579,Alita: Battle Angel,2019-01-31,When Alita awakens with no memory of who she i...,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,0
3,450001,Master Z: Ip Man Legacy,2018-12-20,"After being defeated by Ip Man, Cheung Tin Chi...",0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,338952,Fantastic Beasts: The Crimes of Grindelwald,2018-11-14,Gellert Grindelwald has escaped imprisonment a...,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
5,324857,Spider-Man: Into the Spider-Verse,2018-12-07,Miles Morales is juggling his life between bei...,0,1,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
6,400650,Mary Poppins Returns,2018-12-13,"In Depression-era London, a now-grown Jane and...",1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
7,464504,A Madea Family Funeral,2019-03-01,A joyous family reunion becomes a hilarious ni...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,297802,Aquaman,2018-12-07,Once home to the most advanced civilization on...,0,0,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0
9,512196,Happy Death Day 2U,2019-02-13,Collegian Tree Gelbman wakes up in horror to l...,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,1,0
10,450465,Glass,2019-01-16,"In a series of escalating encounters, security...",0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,0
11,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
12,428078,Mortal Engines,2018-11-27,"Many thousands of years in the future, Earth’s...",0,0,0,0,1,0,...,1,0,0,0,1,1,0,1,0,0
13,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,0,0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,0
14,920,Cars,2006-06-08,"Lightning McQueen, a hotshot rookie race car d...",1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
15,487297,What Men Want,2019-02-08,"Magically able to hear what men are thinking, ...",0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
16,280217,The Lego Movie 2: The Second Part,2019-01-26,It's been five years since everything was awes...,1,1,0,0,1,0,...,1,0,0,0,1,1,0,0,1,0
17,480530,Creed II,2018-11-21,Between personal obligations and training for ...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,424694,Bohemian Rhapsody,2018-10-24,"Singer Freddie Mercury, guitarist Brian May, d...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,449563,Isn't It Romantic,2019-02-13,"For a long time, Natalie, an Australian archit...",0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
20,390634,Fate/stay night: Heaven’s Feel II. lost butterfly,2019-01-12,Theatrical-release adaptation of the visual no...,0,1,0,0,1,0,...,0,0,0,0,1,1,0,0,0,0
21,245891,John Wick,2014-10-22,Ex-hitman John Wick comes out of retirement to...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
22,458723,Us,2019-03-14,Husband and wife Gabe and Adelaide Wilson take...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,445629,Fighting with My Family,2019-02-14,"Born into a tight-knit wrestling family, Paige...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,332562,A Star Is Born,2018-10-03,Seasoned musician Jackson Maine discovers — an...,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25,404368,Ralph Breaks the Internet,2018-11-20,Video game bad guy Ralph and fellow misfit Van...,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
26,10528,Sherlock Holmes,2009-12-23,"Eccentric consulting detective, Sherlock Holme...",0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
27,429197,Vice,2018-12-25,"George W. Bush picks Dick Cheney, the CEO of H...",0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
28,438650,Cold Pursuit,2019-02-07,Nels Coxman's quiet life comes crashing down w...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
29,490033,Holiday,2018-10-11,A love triangle featuring the trophy girlfrien...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9934,51731,Royal Tramp 2,1992-09-24,"Following on from the Royal Tramp I, after dis...",0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
9935,13200,Red,2008-08-08,"Avery, a reclusive older man, has a best frien...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9936,80215,Indie Game: The Movie,2012-05-18,Follows the dramatic journeys of video game de...,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9937,38961,Tamara Drewe,2010-07-14,A young newspaper writer returns to her hometo...,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
9938,60599,Arbitrage,2012-09-14,"A troubled hedge fund magnate, desperate to co...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9939,15251,Eddie Murphy: Delirious,1983-08-17,Taped live and in concert at Constitution Hall...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9940,11578,The Return of Don Camillo,1953-06-05,After his battles with the communist mayor Pep...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9941,2075,Prizzi's Honor,1985-06-14,A professional hit man and hit woman fall in l...,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
9942,312669,Maggie's Plan,2016-04-27,Maggie's plan to have a baby on her own is der...,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
9943,28761,White Hunter Black Heart,1990-09-14,A thinly fictionalized account of a legendary ...,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
9944,229296,Justin Bieber: Believe,2013-12-19,A backstage and on-stage look at Justin Bieber...,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
9945,172847,Scenic Route,2013-08-23,"Stranded on an isolated desert road, two life-...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9946,37181,About Elly,2009-02-10,The mysterious disappearance of a kindergarten...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9947,13830,Shottas,2002-02-27,A raw urban drama about two friends raised on ...,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
9948,36269,Winning London,2001-03-27,When Chloe and Riley Lawrence are invited to L...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9949,391700,We Are Family,2016-08-10,Thirteen-year-old Bastien is the center of a r...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9950,112454,Clown,2014-11-13,A loving father finds a clown suit for his son...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9951,458027,The Scythian,2018-01-18,These are times when one civilization is repla...,0,0,1,0,1,0,...,0,0,0,0,1,1,0,0,0,0
9952,27854,For Whom the Bell Tolls,1943-07-12,Spain in the 1930s is the place to be for a ma...,0,0,1,0,1,0,...,0,1,1,0,0,0,0,1,0,0
9953,19099,Frenchmen,2003-04-02,The life of four best friends in Paris: Antoin...,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
9954,11316,Macbeth,1971-10-13,A ruthlessly ambitious Scottish lord siezes th...,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9955,10638,In the Valley of Death,1968-12-12,Mabel Kingsley arrives at a western town to cl...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9956,366141,Cro Minion,2015-11-04,Two minions have to babysit a little Neanderth...,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9957,576564,Well Groomed,2019-03-18,"Well Groomed travels the humorous, visually st...",0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9958,420809,Maleficent: Mistress of Evil,2019-10-17,A fantasy adventure that picks up several year...,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9959,1850,Man on the Moon,1999-12-22,A film about the life and career of the eccent...,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9960,6499,Turbo: A Power Rangers Movie,1997-03-27,The legendary Power Rangers must stop the evil...,1,0,0,0,1,0,...,1,0,0,0,1,1,0,1,0,0
9961,122126,The Concubine,2012-06-06,"Set during the early Joseon Dynasty, the film ...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9962,3291,"Good Night, and Good Luck.",2005-09-16,"The story of journalist, Edward R Murrow's sta...",0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9963,458956,Let the Girls Play,2018-04-25,"Reims, France, 1969. Paul Coutard is a 30-year...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [46]:
movies.to_csv(r'../Data/movies_df.csv', index=False)